streamlit
numpy
matplotlib
pandas
keras
scikit-learn
streamlit_option_menu
keras.models
tensorflow
utils
altair
vega-datasets
pandas
google-api-python-client
google-auth
google-auth-httplib2
protobuf
click==8
